<div id="<%= dom_id item %>">
  <p>
    <strong>Game:</strong>
    <%= item.game_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= item.position %>
  </p>

</div>
